/* Colors and Fonts */

body {

	background: #FAFAFA;
	color: rgb(10,10,10);
	font-family: Raleway, sans-serif;
	font-size: 16px;
	text-align: center;
}

h1, h2, h3 {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
}

h1 {
	color: grey;
	font-size: 32px;
	font-weight: 700;
}

.img-circle {
	max-width: 200px;
	border-radius: 100px;
	box-shadow: 1px 2px 20px grey;
}

a {
	text-decoration: none;
	color: #93C95D;
}

.card {
	background:white;
	margin: 20px 0px;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(50,50,91,.1);

}

.card:hover {
	box-shadow: 0 50px 35px rgba(50,50,91,.1);
	transition: ease .9s;
}

.list-inline {
	padding:0px;
	list-style: none;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size:24px;
	color: rgb(230,230,230);
}

.list-inline i:hover {
	color: rgb(0,0,0);
}

.btn-green {
	background-color: #93c95d;
	color:white;
	border-radius: 4px;
	padding: 15px 10px;
	font-weight: bold;
	margin-bottom: 30px;
}

.btn-green:hover {
	transition: ease .9s;
	background-color: #93c90c;
}

#introduction {
	padding: 30px;
}

#introduction p {
	margin-bottom: 30px;
}

.container {
	margin:20px auto;
	width:700px;
}

@media (max-width: 900px) {
	.container {
		width:700px;
	}
}


@media (max-width: 760px) {
	.container {
		width: 500px;
	}
}

@media	(max-width: 500px) {
	.container {
		width: 400px;
	}
}











